@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Register Now!!</h1>

    
   <form>
    <div id="register">
        <div class="regForm">
        @Html.Label("UserName")
        </div>
        <div class="regForm">
            @Html.TextBox("username")
        </div>
        <div class="regForm">
            @Html.Label("Password")
        </div>
        <div class="regForm">
           @Html.TextBox("password")
        </div>
        <div class="regForm">
            @Html.Label("Confirm password")
        </div>
        <div class="regForm">
            @Html.TextBox("confirmPassword")
        </div>
                    <button type="submit">Submit</button>
                </div>
        
       <div>
           
        </div>
    </div>    
   </form> 