@{
    ViewBag.Title = "Home Page";
}
@model DatingWebApp.Models.RegisterViewModel
<div class="jumbotron">


    <h2>"Register"</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


</div>

<div class="row">
    <div class="col-md-4">
        <img src="http://cnet4.cbsistatic.com/hub/i/r/2014/02/14/973a58c9-a5e1-11e3-a24e-d4ae52e62bcc/resize/570xauto/026cabf6dfdcb737403f21ce68a1979f/saladblog3.jpg" alt="FunSalad"/>
    </div>
    <div class="col-md-4">
        <img src="http://33.media.tumblr.com/5787bbe8d8b4631f8093638d33a9dac9/tumblr_inline_n0lnfkq6ez1qb26sg.jpg" alt="midSalad" />
    </div>
    <div class="col-md-4">
        <img id="bild1" src="http://p-fst1.pixstatic.com/5577b291697ab05da000ca86/_w.540_s.fit_/shutterstock_74421586.jpg" alt="saladLaugh" />
    </div>
</div>